REACT_APP_KEY="Masukkan kode API yang Anda Miliki"
REACT_APP_BASE_URL=https://api.themoviedb.org/3
REACT_APP_IMG_URL=https://image.tmdb.org/t/p/w500



# https://api.themoviedb.org/3/movie/550?api_key=d8dbe00ad5e3da24758aaf8188becb91

# API Read Access Token = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkOGRiZTAwYWQ1ZTNkYTI0NzU4YWFmODE4OGJlY2I5MSIsInN1YiI6IjYzZmNmYzA0NzJkODU1MDA4MTg5NDQwZSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.Wzspn7mHjPmHYQmKzmy8PIvgVp9m4r1mOD5XtFE1wZs
